<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="pragma" content="no-cache">
  <meta name="keywords" content="영차, 중고차, 실매물, 유투브, 무사고차량">
  <meta name="author" content="영차">
  <title>영차 - 유투브로 실매물 인증</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta http-equiv="imagetoolbar" content="no"/>
  <meta name="description" content="사진이 아닌 유투브을 통해 차량에 실물을 확인하고 영차로 차량정보를 확인해보세요" />

  <meta property='og:title' content='영차 - 유투브로 실매물 인증' />
  <meta property='og:description' content='사진이 아닌 유투브을 통해 차량에 실물을 확인하고 영차로 차량정보를 확인해보세요' />
  <meta property='og:image' content='images/og-image.jpeg'/>
  <meta property='og:url' content='https://yeoungcha.com'/>
  <meta property="og:type" content="article"/>
  <!-- Required meta tags -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/all.min.css">
  <link rel="stylesheet" href="stylesheets/animate.min.css">
  <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="stylesheets/cubeportfolio.min.css">
  <link rel="stylesheet" href="stylesheets/jquery.fancybox.min.css">
  <link rel="stylesheet" href="stylesheets/revolution/settings.css">
  <link rel="stylesheet" href="stylesheets/revolution/navigation.css">

  <link rel="stylesheet" href="stylesheets/style.css">

</head>
<script src="https://kit.fontawesome.com/68ccbd440b.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="javascripts/jquery-3.1.1.min.js"></script>

<!--Bootstrap Core-->
<script src="javascripts/propper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.appear.js"></script>
<script src="javascripts/jquery.matchHeight-min.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/jquery-countTo.js"></script>
<script src="javascripts/parallaxie.js"></script>
<script src="javascripts/jquery.cubeportfolio.min.js"></script>
<script src="javascripts/jquery.fancybox.min.js"></script>
<script src="javascripts/morphext.min.js"></script>
<script src="javascripts/particles.min.js"></script>

<!--Revolution SLider-->
<script src="javascripts/jquery.themepunch.tools.min.js"></script>
<script src="javascripts/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="javascripts/extensions/revolution.extension.actions.min.js"></script>
<script src="javascripts/extensions/revolution.extension.carousel.min.js"></script>
<script src="javascripts/extensions/revolution.extension.kenburn.min.js"></script>
<script src="javascripts/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="javascripts/extensions/revolution.extension.migration.min.js"></script>
<script src="javascripts/extensions/revolution.extension.navigation.min.js"></script>
<script src="javascripts/extensions/revolution.extension.parallax.min.js"></script>
<script src="javascripts/extensions/revolution.extension.slideanims.min.js"></script>
<script src="javascripts/extensions/revolution.extension.video.min.js"></script>
<script>
  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  function showDetail(elem) {
    var key = $(elem).attr('data-key');
    var return_url;

    if(location.href.indexOf('localhost') >= 0){
      return_url = 'http://localhost:9030/app/car-detail/home?i=' + key;
    } else {
      return_url = 'https://m.yeoungcha.com/app/car-detail/home?i=' + key;
    }

    window.open(return_url,'_self');
  }

  (function(){
    $.ajax({
      method: 'GET',
      url: '/yeoungcha/product/search?v=' + Date.now(),
      data : {
        limit : 4,
        offset : 0
      },
      async: true,
      cache: false,
      xhrFields: {withCredentials: true}
    }).done(function (body, status, xhr) {

      if(body && body.data){
        (body.data.rows||[]).forEach(function (val) {

          var image = (val && val.photo && val.photo.front && val.photo.front.thumb_url)||"images/home/app-icon.png";

          var content = "<div class='col-lg-3 col-md-6'>"+
                        "<div class='team-box top30' onclick='showDetail(this)' data-key='"+val._id+"'>"+
                        "<div class='image' style='background-image: url("+image+")'>"+
                        "</div>"+
                        "<div class='team-content'>"+
                        "<span class='title top30'>"+val.name+"</span>"+
                        "<hr>"+
                        "<span class='info'>"+numberWithCommas(val.distance)+"km</span><span class='price'>"+numberWithCommas(val.price)+"만원</span>"+
                        "</div>"+
                      "</div>"+
                    "</div>";
          $('#product-body').append(content)
        });

      }
    });
  }());
</script>
<script src="javascripts/functions.js"></script>
<body class="gradients" data-spy="scroll" data-target=".navbar" data-offset="90">

<!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<header class="site-header">
  <nav class="navbar navbar-expand-lg center-brand static-nav">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="images/home/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler navbar-toggler-right collapsed d-none" type="button" data-toggle="collapse" data-target="#xenav">
        <span> </span>
        <span> </span>
        <span> </span>
      </button>
      <div class="collapse navbar-collapse" id="xenav">
        <ul class="navbar-nav" id="container">
          <li class="nav-item">
            <a class="nav-link pagescroll" href="#ourhome">Home</a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link pagescroll" href="#our-process">Features</a>-->
          <!--</li>-->
          <li class="nav-item">
            <a class="nav-link pagescroll" href="#our-product">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pagescroll" href="#our-download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pagescroll" href="#our-testimonial">Clients</a>
          </li>
        </ul>
        <!--<ul class="navbar-nav ml-auto">-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link pagescroll" href="#our-download">Download</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link pagescroll" href="#our-testimonial">Clients</a>-->
          <!--</li>-->
        <!--</ul>-->
      </div>
    </div>

    <!--side menu open button-->
    <a href="javascript:void(0)" class="d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
      <span></span> <span></span> <span></span>
    </a>
  </nav>

  <!-- side menu -->
  <div class="side-menu">
    <div class="inner-wrapper">
      <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
      <nav class="side-nav w-100">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#ourhome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pagescroll" href="#our-product">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pagescroll" href="#our-download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pagescroll" href="#our-testimonial">Clients</a>
          </li>
        </ul>
      </nav>

      <div class="side-footer w-100">
        <!--<ul class="social-icons simple white top40">-->
          <!--<li><a href="#."><i class="fab fa-facebook-f"></i> </a> </li>-->
          <!--<li><a href="#."><i class="fab fa-instagram"></i> </a> </li>-->
          <!--<li><a href="#."><i class="fab fa-twitter"></i> </a> </li>-->
        <!--</ul>-->
        <p class="whitecolor">&copy; 2018 영차. made by Tarscase</p>
      </div>
    </div>
  </div>
  <!-- End side menu -->
</header>
<!-- header -->

<!--Main Slider-->
<section id="ourhome">
  <div id="revo_main_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
    <div id="banner-main" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
      <ul>
        <!-- SLIDE  -->
        <li data-index="rs-01" data-transition="fade" data-slotamount="default" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000" data-fsmasterspeed="1500">

          <!-- MAIN IMAGE -->
          <img src="images/banner1-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-140']" data-whitespace="nowrap" data-responsive_offset="on" data-width="['none','none','none','none']" data-type="text" data-textalign="['center','center','center','center']" data-splitin="none" data-splitout="none"
               data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' >
            <h1 class="text-capitalize font-xlight darkcolor">중고차 살때?</h1>
          </div>
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-70','-70','-70','-70']" data-whitespace="nowrap" data-responsive_offset="on" data-width="['none','none','none','none']" data-type="text" data-textalign="['center','center','center','center']" data-splitin="none" data-splitout="none"
               data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <h1 class="text-capitalize fontbold">
              <span class="gradient_color_two">영상으로</span>
              <span class="gradient_color_one">보고듣고</span> </h1>
          </div>
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-whitespace="nowrap" data-responsive_offset="on" data-width="['none','none','none','none']" data-type="text" data-textalign="['center','center','center','center']" data-splitin="none" data-splitout="none"
               data-frames='[{"delay":1500,"speed":2200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <h1 class="text-capitalize font-xlight darkcolor">영차에서 확인하세요</h1>
          </div>
          <div class="tp-caption tp-resizeme whitecolor" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']" data-whitespace="nowrap" data-responsive_offset="on" data-width="['none','none','none','none']" data-type="text" data-textalign="['center','center','center','center']" data-fontsize="['24','24','20','20']" data-splitin="none" data-splitout="none"
               data-frames='[{"delay":1800,"speed":2400,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <h4 class="darkcolor font-light text-center">국내 최고의 투명하고 인증된 중고차 마켓</h4>
          </div>
          <div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','160']" data-whitespace="nowrap" data-splitin="none" data-splitout="none" data-responsive_offset="on"
               data-frames='[{"delay":2000,"speed":2500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <a class="button gradient_bg_three pagescroll" href="#our-product">Learn More</a>
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer" style="display: none;"></div>
    </div>
  </div>
</section>
<!--slider ends-->

<!--About us-->
<section id="aboutus" class="padding_top">
  <div class="container">
    <div class="row aboutus-wrapp d-flex justify-content-center align-items-center">
      <div class="col-lg-6 col-md-5 col-sm-5">
        <div class="image about-bordered">
          <img src="images/about-1.jpg" alt="image">
        </div>
        <div class="about-gradient gradient_bg_two"></div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-7">
        <div class="heading-title">
          <span class="color-two">Information about 영차</span>
          <h2 class="darkcolor">차량 구매도 이젠 동영상으로</h2>
          <p class="top20 bottom20">아직도 중고차를 구매할때 고민과 의심이 가득하신가요?<br>아직도 사진만으로 차량을 확인하고 계신가요?</p>
          <p class="heading_space">
             판매자가 직접 전하는 실제 차량 컨디션과 상태를 동영상을 통해 언제 어디서든 바로 확인해보세요.<br>
            영차만의 자가진단으로 누구나 물어보고 싶지만 알려주지 않는 소소한 부분 까지 전해드립니다.<br>
            이런저런 고민을 하고 계실 고객님의 시간을 절약해드립니다.</p>
          <a href="#." class="button gradient_bg_one"> Learn More </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container padding">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
        <div class="heading-title text-center wow fadeInUp" data-wow-delay="300ms">
          <h2 class="darkcolor bottom20 text-capitalize">How we Work </h2>
          <p class="bottom0">영차에서는 차량 소개 시 차량 하나하나 꼼꼼하게 살펴보고 눈앞에 이익보다는 고객님의 안전을 위해 속이지 않고 정직하게 차량을 소개합니다.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="process-wrapp">
        <li class="wow fadeIn" data-wow-delay="300ms">
          <span class="pro-step gradient_bg_two bottom20"><i class="fas fa-clipboard-check"></i></span>
          <h4 class="font-light darkcolor bottom25">차량점검</h4>
          <p class="bottom0">기본적으로 차량상태에 대한<br>점검을 실시합니다.</p>
        </li>
        <li class="wow fadeIn" data-wow-delay="350ms">
          <span class="pro-step gradient_bg_three bottom20"><i class="fas fa-video"></i></span>
          <h4 class="font-light darkcolor bottom25">영상제작</h4>
          <p class="bottom0">차량에 상태를 솔직한 리뷰를<br>영상으로 전해드립니다.</p>
        </li>
        <li class="wow fadeIn" data-wow-delay="400ms">
          <span class="pro-step gradient_bg_one bottom20"><i class="fas fa-car-side"></i></span>
          <h4 class="font-light darkcolor bottom25">차량등록</h4>
          <p class="bottom0">영차만의 체크리스트를 통해 구매 시<br>놓칠 수 있는 부분을 알려드립니다.</p>
        </li>
        <li class="wow fadeIn" data-wow-delay="450ms">
          <span class="pro-step gradient_bg_four bottom20"><i class="fas fa-car"></i></span>
          <h4 class="font-light darkcolor bottom25">차량확인</h4>
          <p class="bottom0">영차 판매자 분들이 친철하게<br>확인을 도와드립니다.</p>
        </li>
        <li class="wow fadeIn" data-wow-delay="500ms">
          <span class="pro-step gradient_bg_five bottom20"><i class="far fa-handshake"></i></span>
          <h4 class="font-light darkcolor bottom25">계약완료</h4>
          <p class="bottom0">구매 후 후기작성을 하시면<br>다양한 경품을 드립니다.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--About us ends-->

<!-- WOrk Process-->
<!--<section id="our-process" class="padding">-->

<!--</section>-->
<!--WOrk Process ends-->

<!-- Product-->
<section id="our-product" class="padding bglight">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 text-center">
        <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
          <span class="color-two">스토어에서 영차앱을 다운받으시면 더 많은 차량을 확인 하실 수 있습니다.</span>
          <!--<h2 class="darkcolor bottom20">영차 앱에서 더 많은 차량을 검색해 보세요.</h2>-->
          <!--<p class="bottom30">영차 앱에서 더 많은 차량을 검색해 보세요.</p>-->
        </div>
      </div>
    </div>
    <div class="row" id="product-body">
      <!--<div class="col-lg-3 col-md-6">-->
        <!--<div class="team-box top30">-->
          <!--<div class="image">-->
            <!--<img src="images/team-1.jpg" alt="">-->
          <!--</div>-->
          <!--<div class="team-content">-->
            <!--<h3 class="darkcolor top30">Alina Walkin</h3>-->
            <!--<p>Owner / Co-founder </p>-->
            <!--<div class="progress-bars bottom20 top50">-->
              <!--<div class="progress">-->
                <!--<p class="darkcolor">Web Designing</p>-->
                <!--<div class="progress-bar gradient_bg_one" data-value="81">-->
                  <!--<span class="darkcolor">81%</span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="progress">-->
                <!--<p class="darkcolor">Marketing online</p>-->
                <!--<div class="progress-bar gradient_bg_two" data-value="73">-->
                  <!--<span class="darkcolor">73%</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</section>
<!-- Our Team ends-->

<!--Some Feature -->
<section id="our-download" class="padding absolute-img-wrapp">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
        <div class="heading-title">
          <span class="color-three">Service On Store</span>
          <h2 class="darkcolor heading_space">스토에서 지금 바로<br>다운로드 가능합니다</h2>
        </div>
        <p class="bottom30">영차앱을 다운받으시면 영차에서 진행하는 차량증정 이벤트 및 다양한 이벤트 참여가 가능하고 더 많은 차량을 찾아보실 수 있습니다.<br> 지금 스토어에서 다운로드 받아보세요</p>
        <a class="store-download-btn ios" href="https://itunes.apple.com/kr/app/yeoungcha/id1448496487?mt=8" target="_blank">
          <img src="images/home/util_download_ios.png">
        </a>
        <a class="store-download-btn aos" href="https://play.google.com/store/apps/details?id=com.yeoungcha.myapp" target="_blank">
          <img src="images/home/util_download_aos.png">
        </a>
    </svg>
      </div>
      <div class="absolute-img right-img d-lg-inline-block d-md-inline-block d-sm-none d-none wow fadeInRight" data-wow-delay="350ms">
        <div class="image"><img alt="SEO" src="images/awesome-feature.png"></div>
      </div>
    </div>
  </div>
</section>
<!--Some Feature ends-->

<!--Gallery-->
<!--<section id="portfolio_top" class="gradient_bg_one">-->
  <!--<div class="container">-->
    <!--<div id="portfolio-measonry" class="cbp border-portfolio simple_overlay">-->
      <!--<div class="cbp-item">-->
        <!--<img src="images/portfolio-1.jpg" alt="">-->
        <!--<div class="overlay center-block whitecolor">-->
          <!--<a class="plus" data-fancybox="gallery" href="images/portfolio-1.jpg"></a>-->
          <!--<h4 class="top30">Wood Work</h4>-->
          <!--<p>Small Portfolio Detail Here</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="cbp-item">-->
        <!--<div class="text_wrap">-->
          <!--<div class="heading-title text-center  whitecolor padding_top">-->
            <!--<span>영차 에디터가 엄선한</span>-->
            <!--<h2 class="bottom20">영차 기획전</h2>-->
            <!--<p>무슨 차량을 구매할지 망설이는 당신을 위해 준비했습니다.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="cbp-item">-->
        <!--<img src="images/portfolio-2.jpg" alt="">-->
        <!--<div class="overlay center-block whitecolor">-->
          <!--<a class="plus" data-fancybox="gallery" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&autoplay=1&rel=0&controls=0&showinfo=0"></a>-->
          <!--<h4 class="top30">Wood Work</h4>-->
          <!--<p>Small Portfolio Detail Here</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="cbp-item">-->
        <!--<img src="images/portfolio-3.jpg" alt="">-->
        <!--<div class="overlay center-block whitecolor">-->
          <!--<a class="plus" data-fancybox="gallery" href="images/portfolio-3.jpg"></a>-->
          <!--<h4 class="top30">Wood Work</h4>-->
          <!--<p>Small Portfolio Detail Here</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="cbp-item">-->
        <!--<img src="images/portfolio-4.jpg" alt="">-->
        <!--<div class="overlay center-block whitecolor">-->
          <!--<a class="plus" data-fancybox="gallery" href="images/portfolio-4.jpg"></a>-->
          <!--<h4 class="top30">Wood Work</h4>-->
          <!--<p>Small Portfolio Detail Here</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="cbp-item">-->
        <!--<div class="bottom-text">-->
          <!--<div class="cells whitecolor">-->
            <!--<p>We’ve Completed More Than </p>-->
            <!--<h2 class="port_head">682</h2>-->
            <!--<p class="bottom15">projects for our amazing clients,</p>-->
          <!--</div>-->
          <!--<div class="cells">-->
            <!--<a href="gallery-detail.html" class="button btnwhite-hole">View All Work</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--Gallery ends -->

<!-- some features -->
<!--<section id="we-offer" class="padding">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-8 offset-md-2 col-sm-12 text-center">-->
        <!--<div class="heading-title wow fadeInUp" data-wow-delay="300ms">-->
          <!--<span class="color-three">Service We Offer</span>-->
          <!--<h2 class="darkcolor bottom20">Awesome Features</h2>-->
          <!--<p class="bottom30">Curabitur mollis bibendum luctus duis suscipit vitae dui se bibendum.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="absolute-img-wrapp position-relative">-->
    <!--<div class="absolute-img left-img wow fadeInLeft d-lg-inline-block d-md-inline-block d-sm-none d-none" data-wow-delay="350ms">-->
      <!--<div class="image"><img alt="SEO" src="images/element.png"></div>-->
    <!--</div>-->
    <!--<div class="container">-->
      <!--<div class="row" id="app-feature">-->
        <!--<div class="col-lg-5 offset-lg-7 col-md-6 offset-md-6 col-sm-12">-->
          <!--<div class="feature-item d-table top30 wow fadeInUp" data-wow-delay="300ms">-->
            <!--<div class="d-table-cell align-top">-->
              <!--<span class="icon"><i class="far fa-clock gradient_color_two"></i></span>-->
            <!--</div>-->
            <!--<div class="text d-table-cell">-->
              <!--<h3 class="darkcolor font-light bottom10">Online Live Support</h3>-->
              <!--<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="feature-item d-table top30 wow fadeInUp" data-wow-delay="350ms">-->
            <!--<div class="d-table-cell align-top">-->
              <!--<span class="icon"><i class="fas fa-volleyball-ball gradient_color_one"></i></span>-->
            <!--</div>-->
            <!--<div class="text d-table-cell">-->
              <!--<h3 class="darkcolor font-light bottom10">Stunning design</h3>-->
              <!--<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="feature-item d-table top30 wow fadeInUp" data-wow-delay="400ms">-->
            <!--<div class="d-table-cell align-top">-->
              <!--<span class="icon"><i class="far fa-lemon gradient_color_three"></i></span>-->
            <!--</div>-->
            <!--<div class="text d-table-cell">-->
              <!--<h3 class="darkcolor font-light bottom10">Responsive Design</h3>-->
              <!--<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--some features ends-->

<!-- Counters -->
<!--<section id="funfacts" class="padding_top fact-iconic gradient_bg_two">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-5 col-sm-12 margin_bottom whitecolor text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">-->
        <!--<h3 class="bottom25">Our many years of experience in numbers</h3>-->
        <!--<p class="title">We show you our professional achievements in numbers, which show the acquired skills and trust of many clients.</p>-->
      <!--</div>-->
      <!--<div class="col-md-7 col-sm-12 text-center">-->
        <!--<div class="row">-->
          <!--<div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom  wow fadeInRight" data-wow-delay="400ms">-->
            <!--<div class="img-icon bottom15">-->
              <!--<i class="fab fa-app-store"></i>-->
            <!--</div>-->
            <!--<div class="counters">-->
              <!--<span class="count_nums" data-to="2500" data-speed="2500"> </span>-->
            <!--</div>-->
            <!--<p class="title">Satisfied customers</p>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInRight" data-wow-delay="350ms">-->
            <!--<div class="img-icon bottom15">-->
              <!--<i class="far fa-handshake"></i>-->
            <!--</div>-->
            <!--<div class="counters">-->
              <!--<span class="count_nums" data-to="9500" data-speed="2500"> </span>-->
            <!--</div>-->
            <!--<p class="title">Completed consultations</p>-->
          <!--</div>-->
          <!--<div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInRight" data-wow-delay="300ms">-->
            <!--<div class="img-icon bottom15">-->
              <!--<i class="fa fa-desktop"></i>-->
            <!--</div>-->
            <!--<div class="counters">-->
              <!--<span class="count_nums" data-to="6000" data-speed="2500"> </span> <i class="fa fa-plus"></i>-->
            <!--</div>-->
            <!--<p class="title">Carried out training</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--Counters ends-->

<!-- Pricing Tables -->
<!--<section id="our-pricings" class="padding bglight">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-8 offset-md-2 col-sm-12 text-center">-->
        <!--<div class="heading-title wow fadeInUp" data-wow-delay="300ms">-->
          <!--<span class="color-three">Choose From Many</span>-->
          <!--<h2 class="darkcolor bottom20">Flexible Packages</h2>-->
          <!--<p class="bottom30">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. </p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<div class="price-table top30 wow fadeIn" data-wow-delay="350ms">-->
          <!--<h3 class="bottom20 darkcolor font-normal">Startup</h3>-->
          <!--<p>Click edit button to change this text. Lorem-->
            <!--dolor sit amet, consectetur adipiscing elit.</p>-->
          <!--<div class="ammount">-->
            <!--<h2>-->
              <!--<i class="fas fa-dollar-sign"></i>-->
              <!--<span class="font-weight-bold gradient_color_two">19 </span>-->
              <!--<span class="dur">/ Month</span>-->
            <!--</h2>-->
          <!--</div>-->
          <!--<ul class="top30">-->
            <!--<li>Full access</li>-->
            <!--<li>Unlimited Bandwidth</li>-->
            <!--<li>Enail Accounts</li>-->
            <!--<li>4 Free Forks Every Months</li>-->
          <!--</ul>-->
          <!--<div class="clearfix"></div>-->
          <!--<a href="#." class="button gradient_bg_two top40">Get Started </a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<div class="price-table top30 wow fadeIn" data-wow-delay="400ms">-->
          <!--<h3 class="bottom20 darkcolor font-normal">Standard</h3>-->
          <!--<p>Click edit button to change this text. Lorem-->
            <!--dolor sit amet, consectetur adipiscing elit.</p>-->
          <!--<div class="ammount">-->
            <!--<h2>-->
              <!--<i class="fas fa-dollar-sign"></i>-->
              <!--<span class="font-weight-bold gradient_color_one">56 </span>-->
              <!--<span class="dur">/ Month</span>-->
            <!--</h2>-->
          <!--</div>-->
          <!--<ul class="top30">-->
            <!--<li>Full access</li>-->
            <!--<li>Unlimited Bandwidth</li>-->
            <!--<li>Enail Accounts</li>-->
            <!--<li>8 Free Forks Every Months</li>-->
          <!--</ul>-->
          <!--<div class="clearfix"></div>-->
          <!--<a href="#." class="button gradient_bg_one top40">Get Started </a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<div class="price-table active top30 wow fadeIn" data-wow-delay="500ms">-->
          <!--<h3 class="bottom20 darkcolor font-normal">Premium</h3>-->
          <!--<p>Click edit button to change this text. Lorem-->
            <!--dolor sit amet, consectetur adipiscing elit.</p>-->
          <!--<div class="ammount">-->
            <!--<h2>-->
              <!--<i class="fas fa-dollar-sign"></i>-->
              <!--<span class="font-weight-bold gradient_color_three">89 </span>-->
              <!--<span class="dur">/ Month</span>-->
            <!--</h2>-->
          <!--</div>-->
          <!--<ul class="top30">-->
            <!--<li>Full access</li>-->
            <!--<li>Unlimited Bandwidth</li>-->
            <!--<li>Enail Accounts</li>-->
            <!--<li>20 Free Forks Every Months</li>-->
          <!--</ul>-->
          <!--<div class="clearfix"></div>-->
          <!--<a href="#." class="button gradient_bg_three top40">Get Started </a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--Pricing Tables ends-->

<!-- Background Parallax -->
<section id="video-parallax" class="video-parallax padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-8 col-sm-8">
        <div class="heading-title  text-md-left text-center wow fadeIn" data-wow-delay="500ms">
          <span class="color-three">Watch Our Story</span>
          <h2 class="darkcolor">
            <span class="font-normal ">We Love</span> <span class="font-xlight">What We Do
                     & We Do It With</span> <span class="font-normal color-two">Perfection</span>
          </h2>
          <a href="https://www.youtube.com/channel/UCytQEcXmT23IAASLiSoC6pw" target="_blank" class="button gradient_bg_two top30"> &nbsp;Play Our Video</a>
          <!--<a data-fancybox href="https://www.youtube.com/channel/UCytQEcXmT23IAASLiSoC6pw" target="_blank" class="button gradient_bg_two top30"> &nbsp;Play Our Video</a>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--Background Parallax-->

<!-- Testimonials -->
<section id="our-testimonial" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
          <span class="color-three">Testimonials</span>
          <h2 class="darkcolor bottom30">Words from Sellers</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="testimonial-slider" class="owl-carousel">
          <div class="item">
            <div class="testimonial-wrapp">
              <span class="quoted gradient_bg_four"><i class="fa fa-quote-right"></i></span>
              <div class="testimonial-text">
                <p class="bottom40">수원, 인천 지역에서 활동하는 안녕마이카 대표 김정훈 입니다. 눈앞에 이익보다는 고객님의 신뢰를 위해 움직이겠습니다.</p>
              </div>
              <div class="testimonial-photo" style="background-image: url('images/dealer-1.png');background-size: cover;background-position: center;"></div>
              <h4 class="darkcolor">김정훈</h4>
              <small class="defaultcolor">안녕마이카</small>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-wrapp">
              <span class="quoted gradient_bg_two"><i class="fa fa-quote-right"></i></span>
              <div class="testimonial-text">
                <p class="bottom40">중고차 시장의 안좋은 인상을 개선하고자 노력하도록 하겠습니다. 차량 구매시 모든 과정에 대해 투명함을 보장합니다.</p>
              </div>
              <div class="testimonial-photo" style="background-image: url('images/dealer-2.png');background-size: cover;background-position: center;"></div>
              <h4 class="darkcolor">정푸름</h4>
              <small class="defaultcolor">안녕마이카</small>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-wrapp">
              <span class="quoted gradient_bg_five"><i class="fa fa-quote-right"></i></span>
              <div class="testimonial-text">
                <p class="bottom40">유투브에서 활발하게 활동중인 필승중고차 김정훈입니다. 무엇이든 친절하게 상담해드리겠습니다. 편하게 연락주세요.</p>

              </div>
              <div class="testimonial-photo" style="background-image: url('images/dealer-1.png');background-size: cover;background-position: center;"></div>
              <h4 class="darkcolor">김정훈</h4>
              <small class="defaultcolor">필승중고차</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Testimonials Ends-->

<!-- Partners -->
<!--<section id="logos" class="padding_bottom">-->
  <!--<div class="container">-->
    <!--<h3 class="invisible d-none">hidden</h3>-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 col-sm-12">-->
        <!--<div id="partners-slider" class="owl-carousel">-->
          <!--<div class="item">-->
            <!--<div class="logo-item"> <img alt="" src="images/logo-1.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-2.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-3.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-4.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-5.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-1.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-2.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-3.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-4.png"></div>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<div class="logo-item"><img alt="" src="images/logo-5.png"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--Partners Ends-->

<!-- Our Blogs -->
<!--<section id="our-blog" class="half-section bglight">-->
  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-sm-12 nopadding">-->
        <!--<div class="image hover-effect"><img src="images/split-blog.jpg" alt="our blog" class="equalheight"></div>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-sm-12">-->
        <!--<div class="split-box text-center center-block equalheight container-padding">-->
          <!--<div class="heading-title padding">-->
            <!--<span class="color-three wow fadeIn" data-wow-delay="300ms">Read Our News</span>-->
            <!--<h2 class="darkcolor bottom20 wow fadeIn" data-wow-delay="350ms">Why Design Website</h2>-->
            <!--<p class="heading_space wow fadeIn" data-wow-delay="400ms">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>-->
            <!--<a href="blog.html" class="button gradient_bg_one wow fadeInUp" data-wow-delay="450ms">Read Full Story</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--Our Blogs Ends-->


<!-- Contact US -->
<!--<section id="contactus" class="padding_top">-->
  <!--<div class="container">-->
    <!--<div class="row  margin_bottom">-->
      <!--<div class="col-md-12 col-sm-12">-->
        <!--<div class="heading-title wow fadeInUp" data-wow-delay="300ms">-->
          <!--<span class="color-three">Lets Get In Touch</span>-->
          <!--<h2 class="darkcolor">Contact 영차</h2>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-6 col-sm-12 top60 wow fadeInUp" data-wow-delay="350ms">-->
        <!--<p class="bottom0">영차 제휴문의 혹은 불편사항에 대해서 아래 연락처와 주소를 참조하시여 연락부탁드립니다</p>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6 col-sm-6 our-address top30">-->
            <!--<h5 class="bottom15">Our Address</h5>-->
            <!--<p class="bottom10">123 Stree New York City , United States Of America. </p>-->
            <!--&lt;!&ndash;<a class="pickus color-two" href="#." data-text="Get Directions">Get Directions</a>&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-md-6 col-sm-6 our-address top30">-->
            <!--<h5 class="bottom15">Our Phone</h5>-->
            <!--<p class="bottom10">Office Telephone : 001 01085379709 <span class="block">-->
                        <!--Mobile : 001 63165370895-->
                     <!--</span> </p>-->
            <!--&lt;!&ndash;<a class="pickus color-three" href="#." data-text="Call Us">Call Us</a>&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-md-6 col-sm-6 our-address top30">-->
            <!--<h5 class="bottom15">Our Email</h5>-->
            <!--<p class="bottom10">Main Email : admin@website.com <span class="block">Inquiries : email@website.com</span> </p>-->
            <!--&lt;!&ndash;<a class="pickus color-one" href="#." data-text="Send a Message">Send a Message</a>&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-md-6 col-sm-6 our-address top30">-->
            <!--<h5 class="bottom15">Our Support</h5>-->
            <!--<p class="bottom10">Main Support : info@website.com <span>Sales : support@website</span> </p>-->
            <!--&lt;!&ndash;<a class="pickus color-four" href="#." data-text="Open a Ticket">Open a Ticket</a>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-6 col-sm-12 top60">-->
        <!--<form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">-->
          <!--<div class="row">-->
            <!--<div class="col-sm-12" id="result"></div>-->
            <!--<div class="col-md-6 col-sm-6">-->
              <!--<div class="form-group bottom35">-->
                <!--<input class="form-control" type="text" placeholder="First Name:" required id="first_name" name="first_name">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-6">-->
              <!--<div class="form-group bottom35">-->
                <!--<input class="form-control" type="text" placeholder="Last Name:" required id="last_name" name="last_name">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-6">-->
              <!--<div class="form-group bottom35">-->
                <!--<input class="form-control" type="email" placeholder="Email:" required id="email" name="email">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-6">-->
              <!--<div class="form-group bottom35">-->
                <!--<input class="form-control" type="tel" placeholder="Phone:" id="phone" name="phone">-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-12 col-sm-12">-->
              <!--<div class="form-group bottom35">-->
                <!--<textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-12">-->
              <!--<button type="submit" class="button gradient_bg_two" id="submit_btn">submit request</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--Contact US Ends-->

<!--Site Footer Here-->
<footer id="site-footer" class="padding_half bglight">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <!--<ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">-->
          <!--<li><a href="#."><i class="fab fa-facebook-f"></i> </a> </li>-->
          <!--<li><a href="#."><i class="fab fa-twitter"></i> </a> </li>-->
          <!--<li><a href="#."><i class="fab fa-google-plus-g"></i> </a> </li>-->
          <!--<li><a href="#."><i class="fab fa-linkedin-in"></i> </a> </li>-->
          <!--<li><a href="#."><i class="fab fa-instagram"></i> </a> </li>-->
          <!--<li><a href="#."><i class="far fa-envelope"></i> </a> </li>-->
        <!--</ul>-->
        <p class="copyrights wow fadeInUp" data-wow-delay="400ms"> &copy; 2018 영차. made by <a href="#">Tarscase</a> </p>
        <p class="copyrights wow fadeInUp" data-wow-delay="400ms"> 고객센터 : service@yeoungcha.com</p>
        <p class="copyrights wow fadeInUp" data-wow-delay="400ms"> 경기 부천시 신상로 17 2동 208호 </p>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="back-top"><i class="fa fa-angle-up"></i></a>

</body>

</html>
